<main *ngIf="project; else NotShow" id="project">
	<section class="section section-hero section-project-summary section-full-screen" id="summary">
		<div class="screenshots">
			<img (load)="AnimateImage(image.meta.type)" *ngFor="let image of project.images;"
					 [src]="baseURL + image.path"
					 alt="{{project.name}} {{image.meta.type}} screenshot" class="{{image.meta.type}}">
		</div>
		<div class="summary">
			<h1 class="animate text-shadow-pop">{{project.name}}</h1>
			<div [innerHTML]="project.summary"></div>
			<div class="project-links link-group">
				<a class="link-visit link link-lg" data-hover="Visit project" href="{{project.link}}">Visit {{project.type}}</a>
			</div>
		</div>
	</section>
	<section *ngIf="project.skills" class="section" id="skillsSection">
		<code-analysis [skills]="project.skills"></code-analysis>
	</section>
	<!--<section class="section se" *ngIf="project.highlights">-->
	<!--<app-highlights [highlights]="project.highlights"></app-highlights>-->
	<!--</section>-->
</main>
<ng-template #NotShow>
	<app-page-not-found></app-page-not-found>
</ng-template>
