<header class="navbar-wrapper">
	<div class="navbar">
		<a routerLink="/" routerLinkActive="active">
			<img alt="Mavrou.gr Logo, Figure working on a laptop" class="logo" height="48" src="assets/icons/icon-48-48.png" width="48">
		</a>
		<nav class="nav" id="navMenu">
			<ul class="unstyled-list inline-list">
				<li *ngFor="let item of menu;">
					<a  class="link" [routerLink]="item.path" routerLinkActive="active">{{item.name}}</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<main [@routeAnimations]="prepareRoute(outlet)">
	<router-outlet #outlet="outlet"></router-outlet>
</main>
