<main *ngIf="project; else NotShow" id="project">
	<section class="section section-hero section-full-screen section-project-summary" id="summary">
		<div class="screenshots">
			<img (load)="AnimateImage('laptop')" *ngIf="project.images.laptop" [src]="project.images.laptop"
					 alt="{{project.name}} laptop screenshot" class="laptop">
			<img (load)="AnimateImage('mobile')" *ngIf="project.images.mobile" [src]="project.images.mobile"
					 alt="{{project.name}} mobile screenshot" class="mobile float-delay">
		</div>
		<div class="summary">
			<h1 class="animate text-shadow-pop">{{project.name}}</h1>
			<p>{{project.summary}}</p>
			<div class="project-links link-group">
				<a class="link-visit link link-lg" data-hover="Visit project" href="{{project.link}}">Visit {{project.type}}</a>
			</div>
			<h4>Technologies Stack</h4>
			<app-code-analysis></app-code-analysis>
		</div>
	</section>
</main>
<ng-template #NotShow>
	<app-page-not-found></app-page-not-found>
</ng-template>
