<main *ngIf="project; else NotShow" id="project">
	<section id="summary" class="section section-hero section-project-summary">
		<div class="screenshots">
			<img *ngIf="project.images.laptop" class="laptop delay" alt="{{project.name}} laptop screenshot" src="{{project.images.laptop}}">
			<img *ngIf="project.images.mobile" class="mobile " alt="{{project.name}} mobile screenshot" src="{{project.images.mobile}}">
		</div>
		<div class="summary">
			<h1 class="text-shadow-pop">{{project.name}}</h1>
			<p>{{project.description}}</p>
			<div class="project-links link-group">
				<a class="link-visit link" data-hover="Visit project" href="{{project.link}}">Visit {{project.type}}</a>
				<span class="separator"></span>
				<button class="link" (click)="goBack()">Go back</button>
			</div>

		</div>
	</section>
	<section id="details" class="section section-project-details">
		<h2>More coming soon...</h2>
	</section>

</main>
<ng-template #NotShow>
	<app-page-not-found></app-page-not-found>
</ng-template>
