<app-hero></app-hero>

<section id="projects" class="section section-projects">
	<h2 class="section-header animate-headers">Things I'm working on</h2>

	<app-projects></app-projects>

</section>

<div class="section section-projects-below section-banner">
	<div class="banner-image">
		<img alt="man walking by a laptop" src="assets\images\worklife.svg">
	</div>
	<div class="banner-heading">
		<h3 class="animate-headers">Looking for more? </h3>
		<p class="lead">Checkout my profile on <a class="link" href="https://github.com/dimavroudis">GitHub</a> and <a
			class="link" href="https://www.linkedin.com/in/dimitrismavroudis/">Linkedin</a></p>
	</div>
</div>

