<section class="section section-hero section-full-screen">
	<div class="hero-heading">
		<h1 class="animate text-shadow-pop">{{profile.fname}} {{profile.lname}}</h1>
		<div class="typed-strings">
			<div id="typed-strings">
				<p>{{profile.jobTitle}}</p>
			</div>
			<span class="lead" id="typed"></span>
		</div>
	</div>
	<div class="hero-image">
		<object data="assets\images\activity.svg" type="image/svg+xml">
			<img alt="working developer illustration" src="assets\images\activity.svg">
		</object>
	</div>
</section>

<section id="projects" class="section section-projects">
	<h2 class="section-header animate text-shadow-pop">Things I worked on</h2>
	<app-projects featured="true"></app-projects>
</section>

<div class="section section-projects-below section-banner">
	<div class="banner-image">
		<img alt="man walking by a laptop" src="assets\images\worklife.svg">
	</div>
	<div class="banner-heading">
		<h3 class="animate text-shadow-pop">Looking for more? </h3>
		<p class="lead">Checkout my profile on
			<span *ngFor="let socialProfile of profile.socialProfiles;let index = index;">
				<span *ngIf="index !== 0"> and </span>
				<a class="link" href="{{socialProfile.url}}">{{socialProfile.name}}</a>
			</span>
	</div>
</div>

